In [1]:
import numpy as np
import pandas as pd

In [2]:
from datetime import datetime

In [3]:
now = datetime.now()

In [4]:
now

datetime.datetime(2019, 8, 27, 10, 25, 52, 783161)

In [6]:
now.year,now.month,now.day

(2019, 8, 27)

In [7]:
delta = datetime(2011,1,7) - datetime(2008,8,8,8,8)

In [8]:
delta

datetime.timedelta(days=881, seconds=57120)

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011,1,7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2*timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

In [13]:
stamp = datetime(2011,1,3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
value = '2011-01-03'

In [17]:
datetime.strptime(value,'%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [18]:
datestrs = ['7/6/2011','8/6/2011']

In [19]:
[datetime.strptime(x,'%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [20]:
from dateutil.parser import parse

In [21]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [24]:
parse('6/12/2011', dayfirst = True)

datetime.datetime(2011, 12, 6, 0, 0)

In [25]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']

In [26]:
 pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [27]:
idx = pd.to_datetime(datestrs + [None])

In [28]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [29]:
idx[2]

NaT

In [30]:
pd.isnull(idx)

array([False, False,  True])

In [31]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [32]:
ts = pd.Series(np.random.randn(6), index=dates)

In [33]:
ts

2011-01-02    0.033378
2011-01-05    1.612928
2011-01-07   -1.035345
2011-01-08    0.386708
2011-01-10   -0.620497
2011-01-12   -0.901000
dtype: float64

In [34]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [35]:
ts + ts[::2]

2011-01-02    0.066756
2011-01-05         NaN
2011-01-07   -2.070691
2011-01-08         NaN
2011-01-10   -1.240995
2011-01-12         NaN
dtype: float64

In [36]:
ts.index.dtype

dtype('<M8[ns]')

In [37]:
stamp = ts.index[0]

In [38]:
stamp

Timestamp('2011-01-02 00:00:00')

In [39]:
stamp = ts.index[2]

In [40]:
ts[stamp]

-1.0353453031934878

In [41]:
ts['1/10/2011']

-0.6204973403116955

In [42]:
ts['20110110']

-0.6204973403116955

In [43]:
longer_ts = pd.Series(np.random.randn(1000),
                      index=pd.date_range('1/1/2000', periods=1000))

In [44]:
longer_ts

2000-01-01    0.172209
2000-01-02   -0.612167
2000-01-03    0.545432
2000-01-04    0.072051
2000-01-05   -0.506942
2000-01-06   -0.854715
2000-01-07   -0.268001
2000-01-08   -0.731650
2000-01-09    0.147863
2000-01-10   -0.108077
2000-01-11   -0.134041
2000-01-12    0.679311
2000-01-13    2.207400
2000-01-14   -2.389139
2000-01-15    0.664640
2000-01-16   -1.785509
2000-01-17   -0.352339
2000-01-18    0.015756
2000-01-19    0.098440
2000-01-20   -0.463757
2000-01-21   -1.415093
2000-01-22   -1.407586
2000-01-23   -0.485316
2000-01-24    0.297238
2000-01-25    0.177905
2000-01-26    0.340898
2000-01-27    0.106339
2000-01-28    1.804180
2000-01-29    0.014334
2000-01-30   -0.634769
                ...
2002-08-28    0.554598
2002-08-29   -1.485693
2002-08-30   -0.944501
2002-08-31    2.187339
2002-09-01   -0.861725
2002-09-02    0.081041
2002-09-03    0.571229
2002-09-04    0.461522
2002-09-05    0.176233
2002-09-06   -0.212531
2002-09-07   -0.510854
2002-09-08    0.350507
2002-09-09   -0.295594
2002-09-10    0.308996
2002-09-11    0.190273
2002-09-12    0.007511
2002-09-13   -0.562317
2002-09-14    0.239064
2002-09-15   -0.921958
2002-09-16   -0.517520
2002-09-17   -0.685006
2002-09-18   -0.440169
2002-09-19   -0.087071
2002-09-20   -0.351513
2002-09-21    1.919772
2002-09-22    0.359165
2002-09-23    0.368736
2002-09-24    0.339325
2002-09-25   -1.945816
2002-09-26    0.831764
Freq: D, Length: 1000, dtype: float64

In [45]:
longer_ts['2001']

2001-01-01    0.143137
2001-01-02   -1.064806
2001-01-03   -0.737782
2001-01-04    0.300624
2001-01-05    0.106936
2001-01-06    1.657358
2001-01-07    0.170055
2001-01-08    0.035994
2001-01-09    1.650031
2001-01-10   -0.131113
2001-01-11   -0.160768
2001-01-12    1.344288
2001-01-13   -0.764351
2001-01-14    0.270178
2001-01-15    0.574406
2001-01-16    0.296225
2001-01-17    0.661050
2001-01-18    1.370388
2001-01-19   -1.776281
2001-01-20   -0.127007
2001-01-21    0.741132
2001-01-22   -2.063410
2001-01-23    0.491526
2001-01-24   -0.650697
2001-01-25    0.644461
2001-01-26   -0.011290
2001-01-27   -0.620829
2001-01-28   -0.818387
2001-01-29    0.271279
2001-01-30    0.575295
                ...
2001-12-02    0.968022
2001-12-03   -0.411033
2001-12-04   -0.230257
2001-12-05    0.825160
2001-12-06   -0.457436
2001-12-07    0.758070
2001-12-08    0.309745
2001-12-09   -0.577167
2001-12-10   -1.297305
2001-12-11   -1.996713
2001-12-12   -0.943731
2001-12-13   -0.107001
2001-12-14    0.027676
2001-12-15    0.334048
2001-12-16   -0.556688
2001-12-17    0.238167
2001-12-18   -0.728172
2001-12-19   -0.311705
2001-12-20    0.424072
2001-12-21   -0.686254
2001-12-22   -0.719546
2001-12-23    2.044522
2001-12-24   -0.837802
2001-12-25    0.481150
2001-12-26   -0.819712
2001-12-27   -1.509723
2001-12-28   -0.954377
2001-12-29    0.063245
2001-12-30    0.832474
2001-12-31    0.513726
Freq: D, Length: 365, dtype: float64

In [46]:
longer_ts['2001-05']

2001-05-01    0.827424
2001-05-02    0.192984
2001-05-03    1.156446
2001-05-04    1.476374
2001-05-05    0.395142
2001-05-06    1.626784
2001-05-07   -1.405956
2001-05-08   -0.106821
2001-05-09   -0.897946
2001-05-10   -0.700589
2001-05-11    0.224279
2001-05-12   -0.514389
2001-05-13    1.382937
2001-05-14    1.212397
2001-05-15    0.579894
2001-05-16    0.895538
2001-05-17   -0.138009
2001-05-18   -1.051957
2001-05-19    0.710998
2001-05-20   -0.994539
2001-05-21    0.713223
2001-05-22    0.330543
2001-05-23    0.479258
2001-05-24   -0.517147
2001-05-25    0.027622
2001-05-26   -0.162598
2001-05-27    0.417434
2001-05-28   -0.149213
2001-05-29    0.098792
2001-05-30    0.355186
2001-05-31   -0.381030
Freq: D, dtype: float64

In [47]:
ts[datetime(2011, 1, 7):]

2011-01-07   -1.035345
2011-01-08    0.386708
2011-01-10   -0.620497
2011-01-12   -0.901000
dtype: float64

In [48]:
ts

2011-01-02    0.033378
2011-01-05    1.612928
2011-01-07   -1.035345
2011-01-08    0.386708
2011-01-10   -0.620497
2011-01-12   -0.901000
dtype: float64

In [49]:
ts['1/6/2011':'1/11/2011']

2011-01-07   -1.035345
2011-01-08    0.386708
2011-01-10   -0.620497
dtype: float64

In [50]:
ts.truncate(after='1/9/2011')

2011-01-02    0.033378
2011-01-05    1.612928
2011-01-07   -1.035345
2011-01-08    0.386708
dtype: float64

In [53]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [54]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                       index=dates,
                       columns=['Colorado', 'Texas','New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02  0.634357  0.659237  2.471377  1.918579
2001-05-09  0.306733 -2.325316 -0.577040  1.291667
2001-05-16 -0.273884 -1.012393 -1.085475  0.514150
2001-05-23 -0.349380 -0.732056 -0.526997  0.174084
2001-05-30  0.807320 -1.703056 -0.355350  1.722983

In [55]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])

In [56]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [57]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [58]:
dup_ts.index.is_unique

False

In [59]:
dup_ts['1/3/2000']

4

In [60]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [61]:
grouped = dup_ts.groupby(level=0)

In [62]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [63]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [64]:
ts

2011-01-02    0.033378
2011-01-05    1.612928
2011-01-07   -1.035345
2011-01-08    0.386708
2011-01-10   -0.620497
2011-01-12   -0.901000
dtype: float64

In [65]:
resampler = ts.resample('D')

In [66]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [67]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [68]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [69]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [71]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [72]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [73]:
from pandas.tseries.offsets import Hour, Minute

In [74]:
hour = Hour()

In [75]:
hour

In [76]:
four_hours = Hour(4)

In [77]:
four_hours

In [78]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [79]:
Hour(2) + Minute(30)

In [80]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [81]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [82]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [83]:
 ts = pd.Series(np.random.randn(4),
                index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [84]:
ts

2000-01-31   -0.463768
2000-02-29   -0.126885
2000-03-31    0.889881
2000-04-30   -0.202429
Freq: M, dtype: float64

In [85]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.463768
2000-04-30   -0.126885
Freq: M, dtype: float64

In [86]:
ts.shift(-2)

2000-01-31    0.889881
2000-02-29   -0.202429
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [87]:
ts.shift(2, freq='M')

2000-03-31   -0.463768
2000-04-30   -0.126885
2000-05-31    0.889881
2000-06-30   -0.202429
Freq: M, dtype: float64

In [88]:
ts.shift(3, freq='D')

2000-02-03   -0.463768
2000-03-03   -0.126885
2000-04-03    0.889881
2000-05-03   -0.202429
dtype: float64

In [89]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00   -0.463768
2000-02-29 01:30:00   -0.126885
2000-03-31 01:30:00    0.889881
2000-04-30 01:30:00   -0.202429
Freq: M, dtype: float64

In [90]:
import pytz

In [91]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [92]:
 tz = pytz.timezone('America/New_York')

In [93]:
tz

In [94]:
 rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [95]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [96]:
ts

2012-03-09 09:30:00   -0.973591
2012-03-10 09:30:00    0.249036
2012-03-11 09:30:00   -0.466992
2012-03-12 09:30:00    0.692392
2012-03-13 09:30:00   -1.385043
2012-03-14 09:30:00    0.443940
Freq: D, dtype: float64